<div class="section-top section-gray">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 recuadro">

            <div class="container text-center">
                <p class="error-text">
                	Error 404 
                	<span class="error-subtext">la página que intentas acceder no está disponible</span>
                </p>
                
                <div>
                	<img src="static/images/404cat.png">
    			</div>

                <a href="#/">volver a la página principal</a>
            </div>

        </div>
    </div>
</div>