/* ESTILOS */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif !important;
    color: #333;
    overflow-y: scroll;
}

.not-active {
  color: #CCC !important;
  pointer-events: none;
  cursor: default;
}

.divider {
  margin: 0px 5px 0px 5px !important;
  opacity: 0.5;
  border: solid 1px #DDD;
}

.android-icon {
  color: #27ae60 !important;
}

.rw-sentence {
  font-size: 45px;
  padding-right: 12%;
}

.rw-sentence-anon {
  font-size: 45px;
}

.rw-subsentence-anon {
  color: #CCC;
  padding-top: 10px;
  font-size: 28px;
}

@media screen and (max-width: 768px){
  .rw-sentence { font-size: 25px; }
}

@media screen and (max-width: 320px){
  .rw-sentence { font-size: 15px; }
}

.header-text {
  font-weight: 700;
  color: #444;
  margin-bottom: 0px;
  font-size: 22px;
  position: relative;
  line-height: 24px;
}

.sub-text{
  margin-bottom: 0px;
  font-size: 14px;
  color: #999;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.defaultBack {
  background-color: #777 !important;
  color: #FFF;
}

.primaryBack, .der {
  background-color: #337ab7 !important;
  color: #FFF;
}

.infoBack {
  background-color: #5bc0de !important;
  color: #FFF;
}

.successBack {
  background-color: #5cb85c !important;
  color: #FFF;
}

.warningBack, .das {
  background-color: #f0ad4e !important;
  color: #FFF;
}

.dangerBack, .die {
  background-color: #d9534f !important;
  color: #FFF;
}

.bold {
  font-weight: bold;
}

.recuadro {
    text-align: center;
    max-width: 1200px;
    background-color: #FFF;
    padding-bottom: 10px;
    float: none;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4);
}

.tituloConsola {
  font-size: 24px;
  font-weight: bold;
}

.capitalize-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.icon-pointer {
  cursor: pointer;
}

.refresh {
  color: #444;
  font-size: 14px;
  cursor: pointer;
}

.refresh:hover {
  color: #2ecc71;
}

.remove {
  color: #444;
  font-size: 14px;
  cursor: pointer;
}

.remove:hover {
  color: #ea6153;
}

.folder {
  color: #444;
  font-size: 14px;
  cursor: pointer;
}

.folder:hover {
  color: #3498db;
}

.aboutCard {
  color: #999;
  font-size: 9px;
  padding-top: 5px;
}

.table-input {
  width: 70px;
}

.theory-textarea {
  margin: 0 auto;
  max-width: 518px;
  width: calc(100% - 2em);
}

.theory-text {
  margin: 0 auto;
}

.theory-separator, .phrase-separator {
  height: 2px;
}

.theory-well {
  text-align: left;
  min-height: 20px;
  padding: 15px 0px 0px 0px;
  margin-bottom: 25px;
  margin-top: 7px;
  background-color: #F9F9F9;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.theory-well pre {
  font-size: 10px;
  background-color: #eee;
}

.ta-scroll-window > .ta-bind {
  text-align: left;
}

.theory-body, .phrase-body {
  padding-left: 15px;
  padding-right: 15px;
}

.error-text {
  font-weight: 700;
  color: #444;
  padding: 20px;
  font-size: 30px;
  line-height: 24px;
}

.error-subtext {
  margin-bottom: 0px;
  font-size: 14px;
  color: #999;
}

/* inicio unidades container */
.panel-heading {
  padding: 10px 15px 0px 15px;
  border-bottom: 0px solid transparent;
  border-radius: 2px;
}

.hvr-float-shadow {
  display: block;
}

.unit-title {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 30px;
  font-weight: bold;
}

.no-border {
  border-bottom: 2px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.unit-footer {
  font-size: 10px;
  padding-top: 5px;
}

.unit-cantity {
  margin-top: 34px;
  font-size: 40px;
  line-height: 30%;
  padding-left: 3px;
}

.unit-cantity-number {
  font-size: 45px;
  text-align: center;
}

.unit-cantity-text {
  font-size: 10px;
}

/* fin unidades container */

/* inicio tabla */
.wrapperTable {
  margin: 0 auto;
  padding: 5px;
  max-width: 900px;
}

.wrapperDictionary {
  margin: 0 auto;
  padding: 5px;
  max-width: 700px;
}

.tableLayout {
  margin: 0 0 20px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border-radius: 4px;
}
@media screen and (max-width: 580px) {
  .tableLayout {
    display: block;
  }
}

.rowTable {
  display: table-row;
  background: #f6f6f6;
}

.rowTable:nth-of-type(odd) {
  background: #e9e9e9;
}

@media screen and (max-width: 580px) {
  .rowTable {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

/* fin tabla */
#general-container {
    margin: auto;
    width: 40%;
}
